.idea/.name.idea/compiler.xml.idea/.name.idea/.name.idea/compiler.xml.idea/copyright/profiles_settings.xml.idea/encodings.xml*.xml.idea/.name*.xml.idea/.name.idea/.name*.xml.idea/copyright/profiles_settings.xml.idea/misc.xml